<div id="topbar">
    <div class="display-flex-between">
        <div class="display-flex">
            <img id="logo" src="assets/images/logo.png">
                
                <button mat-icon-button  id="menu-icon"  (click)="showMenu = true" class="menu">
                    <mat-icon>menu</mat-icon>
                </button>

            
        </div>
        
        <div >
            <span (click)="profile()"  *ngIf="generalService.user && generalService.user.userResponse" class="name-user">
                Hi {{generalService.user.userResponse.fullName}}
            </span>
            <button mat-mini-fab class="user">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </div>
   

</div>

<div  [style]="{width: '250px'}">
    <a (click)="profile()" >Profile</a>
    <hr>
    <a (click)="deconnection()">Déconnection</a>
</div>
<div  >
    <app-menu></app-menu>
</div>