<div class="centent">    
    <div class="center">  
        <div>
            <div class="color-black">
                <div class="flex-end">
                    <div *ngFor="let lng of generalService.listLng;let i = index" >
                        <span class="cursor-pointer" (click)="setLng(lng)"> {{lng.name}} </span> <span *ngIf="i < generalService.listLng.length-1">&nbsp;|&nbsp;</span>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <h1>{{'Connexion' | translate }}</h1>
                    <p>{{'Bonjour' | translate }}</p>
                </div>
            </div>

            <div>
                <mat-form-field class="input-login" appearance="outline">
                    <mat-label>{{'Adresse' | translate }}</mat-label>
                    <input matInput type="text" name="username" [(ngModel)]="user.username" >
                    <mat-hint *ngIf="userResponse && userResponse.username" class="error">{{userResponse.username}}</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="input-login" appearance="outline">
                    <mat-label>{{'Password' | translate }}</mat-label>
                    <input matInput [type]="typeInput" name="password" [(ngModel)]="user.password" >
                    <button matSuffix mat-icon-button (click)="showPassword()">
                        <mat-icon>{{iconPassword}}</mat-icon>
                    </button>
                    <mat-hint *ngIf="userResponse && userResponse.password" class="error">{{userResponse.password}}</mat-hint>
                </mat-form-field>
            </div>
            <div class="flex-space-between">
                <mat-checkbox [(ngModel)]="resterConnecter"><b>{{'Remember' | translate }}</b></mat-checkbox>
                <span class="cursor-pointer">{{'ForgotPassword' | translate }}</span>
            </div>
            <br>  
            <button (click)="connection()" mat-raised-button class="btn-connection">{{'Connexion' | translate }}</button>
            
        </div>         
       
    </div>
</div> 