<div class="center">
    <div class="centent">
        <div class="text-center">
            <h1>Connexion</h1>
            <p>Bonjour! Connectez-vous avec votre email.</p>
        </div>
        <div>
            <mat-form-field class="input-login" appearance="outline">
                <mat-label>Adresse e-mail</mat-label>
                <input matInput type="text" name="username" [(ngModel)]="user.username" >
                <mat-hint *ngIf="userResponse && userResponse.username" class="error">{{userResponse.username}}</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-login" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="text" name="password" [(ngModel)]="user.password" >
                <mat-hint *ngIf="userResponse && userResponse.password" class="error">{{userResponse.password}}</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="resterConnecter"><b> Rester connecté</b></mat-checkbox>
        </div>
    </div>
    
</div>